<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>ParagonIU Commencement</title>
  <meta name="author" content="Song Hengjimmy">
</head>

<body>
  <div id="app"></div>
</body>
