.student-detail-dashboard {
  .content {
    .form {
      .row {
        display: flex;
        flex-direction: row;

        & > * {
          margin-right: 1rem;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
