@import "../variables.scss";

.auth-layout {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;

  .cover {
    width: 40vw;
    height: 100vh;

    background-color: $main-color;
  }

  .view-container {
    width: 60vw;
    height: 100vh;

    padding: 6rem 10rem;
    position: relative;

    .credit {
      position: absolute;
      top: 6rem;
      right: 6rem;

      color: #aaa;
      cursor: pointer;
      transition: 0.35s ease-in-out;

      &:hover {
        color: #000;
      }
    }
  }
}
