@import "../variables.scss";

.main-layout {
  display: flex;
  flex-direction: row;

  .side-menu-component {
    flex-basis: $side-menu-width;
    width: $side-menu-width;
    height: 100vh;
  }

  & > .sub-ctn {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;

    position: relative;

    .top-bar-component {
      width: 100%;
      height: $top-bar-height;

      box-shadow: 0 0 8px #aaa;
    }

    .view-container {
      width: 100%;
      max-width: calc(100vw - #{$side-menu-width});
      height: calc(100vh - #{$top-bar-height});
      background-color: #eee;

      transition: 0.5s;
    }
  }
}
