@import "../../variables.scss";

.action-menu{
  width: $action-menu-width;
  max-width: 0;
  transition: 0.35s;
  padding: 1rem 0;

  border-left: 1px solid #aaa;
  box-shadow: 0 0 5px #ccc;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;

  &.active {
    max-width: $action-menu-width;
    padding: 1rem;

    .close {
      opacity: 1;
    }

    .form {
      opacity: 1;
    }
  }

  .close {
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;

    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0;
  }

  .form {
    width: 100%;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 1.5rem;
      font-weight: bold;
      align-self: start;

      margin-bottom: 2rem;
    }

    

    .submit {
      align-self: flex-end;

      line-height: 3rem;
      padding: 0 2rem;
      color: #fff;
      background-color: $main-color;

      z-index: 1;
    }
  }
}
