@import "../../variables.scss";

.dashboard {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .content {
    width: 100%;
    height: 100%;
    padding: 1rem;

    overflow-x: hidden;
    overflow-y: auto;

    position: relative;

    .action-menu-backdrop {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      z-index: 10;
    }

    .title-bar {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      line-height: 3rem;

      margin-bottom: 2rem;

      .title {
        font-size: 2rem;
        font-weight: bold;
      }

      .group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .btn {
          &.new {
            width: 10rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            background-color: $main-color;
            color: #fff;

            margin-right: 1rem;

            .icon {
              width: 1rem;
              height: 1rem;
              background-color: #eee;

              margin-right: 0.5rem;
            }
          }

          &.more {
            width: 2rem;
            height: 3rem;

            background-color: #888;
          }
        }
      }
    }
  }

  @import "./action-menu.scss";
}
