<template>
  <div class="page dashboard students-dashboard">
    <div class="content">
      <div v-if="isActionMenuOpen" class="action-menu-backdrop" v-on:click="toggleActionMenu('')"></div>

      <div class="title-bar">
        <p class="title">Student Management</p>
        <div class="group">
          <div class="btn new">
            <div class="icon"></div>
            <p class="label" v-on:click="toggleActionMenu('new')">New Student</p>
          </div>
          <div class="btn more"></div>
        </div>
      </div>

      <TabBarComponent
        :isLoading="!$subReady.departments"
        :data="departments"
        :query.sync="query"
        queryKey="departmentId"
        labelKey="code"
        @onSearch="updateSearch"
        placeholder="Search by Name..."
      />

      <ListingComponent
        :isLoading="!$subReady.students"
        :data="students"
        :pageMeta="pageMeta"
        :query.sync="query"
        @toggleActionMenu="toggleActionMenu"
        :selected.sync="selected"
        :options="listingOptions"
        @deleteRecord="deleteStudent"
        @viewDetail="viewStudentDetail"
      />
    </div>

    <div :class="`action-menu ${isActionMenuOpen ? 'active' :''}`">
      <div class="btn close" v-on:click="toggleActionMenu('')"></div>
      <div class="form">
        <p class="title">{{actionMenuTitle}}</p>
        <FormItemComponent label="Student Name*" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedStudent.fullName"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <FormItemComponent label="Department*" :state="isActionMenuOpen">
          <select
            v-model="focusedStudent.departmentId"
            v-if="$subReady.departments"
            slot-scope="slot"
            :disabled="slot.readOnly"
          >
            <option value="0" disabled>Please select a department</option>
            <option
              v-for="department in departments"
              v-bind:key="department._id"
              :value="department._id"
            >{{`${department.code} - ${department.name}`}}</option>
          </select>
        </FormItemComponent>
        <FormItemComponent label="Student ID*" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedStudent.idNumber"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <FormItemComponent label="Personal Email" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedStudent.email"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <FormItemComponent label="School Email" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedStudent.schoolEmail"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <FormItemComponent label="Gender" :state="isActionMenuOpen">
          <select v-model="focusedStudent.gender" slot-scope="slot" :disabled="slot.readOnly">
            <option value="0">Please select a gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </FormItemComponent>
        <FormItemComponent label="Phone Number" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedStudent.phoneNumber"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>

        <div v-if="isActionMenuOpen != 'read'" class="btn submit" v-on:click="submit()">Submit</div>
      </div>
    </div>
  </div>
</template>


<script>
import ListingComponent from "../../components/ListingComponent";
import TabBarComponent from "../../components/TabBarComponent";
import FormItemComponent from "../../components/FormItemComponent";
import MultiSelectComponent from "../../components/MultiSelectComponent";

import Students from "../../../../imports/api/students/students";
import Departments from "../../../../imports/api/departments/departments";

const defaultValue = {
  studentId: "",
  fullName: "",
  idNumber: "",
  email: "",
  schoolEmail: "",
  gender: "0",
  phoneNumber: "",
  departmentId: "0"
};
export default {
  name: "StudentsDashboard",
  components: {
    ListingComponent,
    TabBarComponent,
    FormItemComponent,
    MultiSelectComponent
  },
  meteor: {
    $subscribe: {
      students: [],
      departments: []
    },
    students: function() {
      const { limit, page, sortBy, order, departmentId } = this.query;
      let filter = {};
      if (departmentId) {
        filter = { ...filter, departmentId };
      }
      return Students.find(filter, {
        skip: (page - 1) * limit,
        limit,
        sort: { [sortBy]: order }
      }).fetch();
    },
    totalStudentsCount: function() {
      return Students.find({}).count();
    },
    departments: function() {
      return Departments.find({}, { sort: { code: 1 } }).fetch();
    }
  },
  data: function() {
    return {
      selected: [],
      isActionMenuOpen: "",
      focusedStudent: Object.assign({}, defaultValue) || {},
      q: "",
      query: {
        order: 1,
        page: 1,
        limit: 10,
        sortBy: "fullName",
        departmentId: ""
      },
      selectedTest: []
    };
  },
  computed: {
    pageMeta() {
      return {
        totalEntries: this.totalStudentsCount
      };
    },
    listingOptions() {
      return {
        hasSelect: true,
        actions: ["view", "edit", "delete"],
        schema: [
          {
            label: "Name",
            key: "fullName"
          },
          {
            label: "Student ID",
            key: "idNumber"
          }
        ]
      };
    },
    actionMenuTitle() {
      return this.isActionMenuOpen == "new"
        ? "New Student"
        : this.isActionMenuOpen == "edit"
        ? "Edit Student"
        : this.isActionMenuOpen == "read"
        ? "Student Detail"
        : "";
    }
  },
  methods: {
    toggleActionMenu(menu, payload) {
      console.log("amenu ", menu, payload);
      if(menu != "new" || menu != ""){
        return
      }
      this.isActionMenuOpen = menu;

      if (menu != "") {
        if (menu == "edit" || menu == "read") {
          this.focusedStudent = { ...payload };
        } else if (menu == "new") {
          this.focusedStudent = Object.assign({}, defaultValue);
        }
      }
    },
    updateSearch(q) {
      this.q = q;
    },
    async deleteStudent(payload) {
      const confirmation = confirm(
        `Are you sure your want to delete student?\nStudent: ${payload.fullName}`
      );

      if (confirmation) {
        const response = await this.$store.dispatch(
          "studentsModule/deleteStudent",
          {
            studentId: payload._id
          }
        );
      }
    },
    async submit() {
      console.log("submit");
      if (this.isActionMenuOpen == "new") {
        const response = await this.$store.dispatch(
          "studentsModule/createStudent",
          {
            ...this.focusedStudent
          }
        );

        console.log(response);
        if (response) {
          this.focusedStudent = Object.assign({}, defaultValue);
          alert("Student successfully created!");
        }
      } else if (this.isActionMenuOpen == "edit") {
        const response = await this.$store.dispatch(
          "studentsModule/updateStudent",
          {
            studentId: this.focusedStudent._id,
            ...this.focusedStudent
          }
        );

        if (response) {
          this.toggleActionMenu("new");
          alert("Student successfully updated!");
        }
      }
    },
    viewStudentDetail(record) {
      this.$router.push({ path: `/students/${record._id}` });
    }
  }
};
</script>
