<template>
  <div class="page dashboard student-detail-dashboard">
    <div class="content">
      <div class="title-bar">
        <p class="title">Student Detail Management</p>
        <div class="group">
          <div class="btn new" v-if="editStatus == 'read'" v-on:click="toggleEditStatus('edit')">
            <div class="icon"></div>
            <p class="label">Edit Student</p>
          </div>
          <div class="btn new" v-else v-on:click="submit()">
            <div class="icon"></div>
            <p class="label">Submit</p>
          </div>
          <div class="btn more"></div>
        </div>
      </div>
      <div v-if="$subReady.students" class="form">
        <!-- <p class="title">{{actionMenuTitle}}</p> -->
        <div class="row">
          <FormItemComponent label="Student Name*" :state="editStatus">
            <input
              type="text"
              v-model="focusedStudent.fullName"
              slot-scope="slot"
              :disabled="slot.readOnly"
              :placeholder="slot.label"
            />
          </FormItemComponent>
          <FormItemComponent label="Student ID*" :state="editStatus">
            <input
              type="text"
              v-model="focusedStudent.idNumber"
              slot-scope="slot"
              :disabled="slot.readOnly"
              :placeholder="slot.label"
            />
          </FormItemComponent>
        </div>
        <div class="row">
          <FormItemComponent label="Department*" :state="editStatus">
            <select
              v-model="focusedStudent.departmentId"
              v-if="$subReady.departments"
              slot-scope="slot"
              :disabled="slot.readOnly"
            >
              <option value="0" disabled>Please select a department</option>
              <option
                v-for="department in departments"
                v-bind:key="department._id"
                :value="department._id"
              >{{`${department.code} - ${department.name}`}}</option>
            </select>
          </FormItemComponent>
          <FormItemComponent label="Gender" :state="editStatus">
            <select v-model="focusedStudent.gender" slot-scope="slot" :disabled="slot.readOnly">
              <option value="0" disabled>Please select a gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </FormItemComponent>
        </div>

        <div class="row">
          <FormItemComponent label="Personal Email" :state="editStatus">
            <input
              type="text"
              v-model="focusedStudent.email"
              slot-scope="slot"
              :disabled="slot.readOnly"
              :placeholder="slot.label"
            />
          </FormItemComponent>
          <FormItemComponent label="School Email" :state="editStatus">
            <input
              type="text"
              v-model="focusedStudent.schoolEmail"
              slot-scope="slot"
              :disabled="slot.readOnly"
              :placeholder="slot.label"
            />
          </FormItemComponent>
        </div>

        <FormItemComponent label="Phone Number" :state="editStatus">
          <input
            type="text"
            v-model="focusedStudent.phoneNumber"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
      </div>
      <LoadingSpinnerComponent v-else />

      <div class="title-bar">
        <p class="title">Invitations</p>
        <div class="group">
          <div class="btn new" v-on:click="toggleActionMenu('new')">
            <div class="icon"></div>
            <p class="label">Add Invitation</p>
          </div>
          <div class="btn more"></div>
        </div>
      </div>
      <div v-if="$subReady.students" class="form">
        <div
          v-for="invitation in student.invitations()"
          v-bind:key="invitation._id"
          class="invitation-card"
        >
          <div class="row">
            <FormItemComponent label="Guest Name" state="read">
              <input
                type="text"
                v-model="invitation.guestName"
                slot-scope="slot"
                :disabled="slot.readOnly"
                :placeholder="slot.label"
              />
            </FormItemComponent>
            <FormItemComponent label="Gender" state="read">
              <input
                type="text"
                v-model="invitation.gender"
                slot-scope="slot"
                :disabled="slot.readOnly"
                :placeholder="slot.label"
              />
            </FormItemComponent>
            <FormItemComponent label="Relation To Student" state="read">
              <input
                type="text"
                v-model="invitation.relationship"
                slot-scope="slot"
                :disabled="slot.readOnly"
                :placeholder="slot.label"
              />
            </FormItemComponent>
          </div>
        </div>
      </div>
    </div>
    <div :class="`action-menu ${isActionMenuOpen ? 'active' :''}`">
      <div class="btn close" v-on:click="toggleActionMenu('')"></div>
      <div class="form">
        <p class="title">{{actionMenuTitle}}</p>
        <FormItemComponent label="Guest Name" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedInvitation.guestName"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <FormItemComponent label="Relationship" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedInvitation.relationship"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <FormItemComponent label="Gender" :state="isActionMenuOpen">
          <select v-model="focusedInvitation.gender" slot-scope="slot" :disabled="slot.readOnly">
            <option value="0" disabled>Please select a gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </FormItemComponent>
        <div
          v-if="isActionMenuOpen != 'read'"
          class="btn submit"
          v-on:click="submitInvitation()"
        >Submit</div>
      </div>
    </div>
  </div>
</template>


<script>
const defaultValue = {
  studentId: "",
  fullName: "",
  idNumber: "",
  email: "",
  schoolEmail: "",
  gender: "0",
  phoneNumber: "",
  departmentId: "0"
};

const defaultValue2 = {
  guestName: "",
  studentId: "",
  relationship: "",
  gender: "0"
};

import FormItemComponent from "../../components/FormItemComponent";
import MultiSelectComponent from "../../components/MultiSelectComponent";
import LoadingSpinnerComponent from "../../components/LoadingSpinnerComponent";

import Students from "../../../../imports/api/students/students";
import Departments from "../../../../imports/api/departments/departments";

export default {
  name: "StudentDetailDashboard",
  components: {
    FormItemComponent,
    MultiSelectComponent,
    LoadingSpinnerComponent
  },
  data: function() {
    return {
      editStatus: "read",
      isActionMenuOpen: "",
      focusedStudent: Object.assign({}, defaultValue),
      focusedInvitation: Object.assign({}, defaultValue2)
    };
  },
  meteor: {
    $subscribe: {
      students: [],
      departments: []
    },
    student: function() {
      const student = Students.findOne({
        _id: this.$route.params.studentId || ""
      });
      this.focusedStudent = student;
      return student;
    },
    totalStudentsCount: function() {
      return Students.find({}).count();
    },
    departments: function() {
      return Departments.find({}, { sort: { code: 1 } }).fetch();
    }
  },
  computed: {
    actionMenuTitle() {
      return this.isActionMenuOpen == "new"
        ? "New Invitation"
        : this.isActionMenuOpen == "edit"
        ? "Edit Invitation"
        : this.isActionMenuOpen == "read"
        ? "Invitation Detail"
        : "";
    }
  },
  methods: {
    toggleEditStatus(key) {
      this.editStatus = key;
    },
    toggleActionMenu(menu, payload) {
      this.isActionMenuOpen = menu;
      console.log("run");

      if (menu != "") {
        if (menu == "edit" || menu == "read") {
          this.focusedInvitation = { ...payload };
        } else if (menu == "new") {
          console.log("isnew");
          console.log(defaultValue2);
          this.focusedInvitation = Object.assign({}, defaultValue2);
          console.log(this.focusedInvitation);
        }
      }
    },
    async submit() {
      console.log("submit", this.focusedStudent._id);

      const response = await this.$store.dispatch(
        "studentsModule/updateStudent",
        {
          ...this.focusedStudent
        }
      );

      if (response) {
        this.toggleActionMenu("new");
        alert("Student successfully updated!");
      }
    },
    async submitInvitation() {
      console.log("submit");
      if (this.isActionMenuOpen == "new") {
        const response = await this.$store.dispatch(
          "invitationsModule/createInvitation",
          {
            ...this.focusedInvitation,
            studentId: this.$route.params.studentId
          }
        );

        if (response) {
          this.toggleActionMenu("");
          this.focusedInvitation = Object.assign({}, defaultValue2);
          alert("Invitation successfully created!");
        }
      } else if (this.isActionMenuOpen == "edit") {
        const response = await this.$store.dispatch(
          "invitationsModule/updateInvitation",
          {
            ...this.focusedInvitation,
            invitationId: this.focusedInvitation._id,
            studentId: this.$route.params.studentId
          }
        );

        if (response) {
          this.toggleActionMenu("");
          this.focusedInvitation = Object.assign({}, defaultValue2);
          alert("Invitation successfully updated!");
        }
      }
    }
  }
};
</script>
<style scoped>
</style>
