@import "../variables.scss";

.auth-layout {
  .page {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    .title {
      font-size: 2.5rem;

      font-weight: bold;
      text-align: center;

      margin-bottom: 2rem;
    }

    .description {
      color: #aaa;

      margin-bottom: 2rem;
    }

    .input-ctn {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .label {
        line-height: 2rem;
      }

      .input {
        width: 100%;
        height: 4rem;

        font-size: 1.2rem;

        border: 1px solid #aaa;
        padding: 0 2rem;
        margin-bottom: 2rem;

        transition: 0.35s ease-in-out;

        &:focus {
          border-color: $main-color;
        }
      }
    }

    .forgot-password {
      align-self: flex-end;
      line-height: 2rem;

      color: #aaa;

      cursor: pointer;
      transition: 0.35s ease-in-out;

      margin-bottom: 1rem;

      &:hover {
        color: $main-color;
      }
    }

    .submit {
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      align-items: center;

      height: 3rem;
      .label {
        font-size: 1.5rem;
        margin-right: 1rem;
      }

      .icon {
        width: 2rem;
        height: 2rem;

        background-color: #888;
      }
    }

    .go-back {
      position: absolute;
      bottom: 6rem;
      left: 6rem;

      color: #aaa;
      font-size: 1.5rem;
      cursor: pointer;
      transition: 0.35s ease-in-out;

      &:hover {
        color: $main-color;
      }
    }
  }
}
