<template>
  <div class="page dashboard departments-dashboard">
    <div class="content">
      <div v-if="isActionMenuOpen" class="action-menu-backdrop" v-on:click="toggleActionMenu('')"></div>

      <div class="title-bar">
        <p class="title">Department Management</p>
        <div class="group">
          <div class="btn new">
            <div class="icon"></div>
            <p class="label" v-on:click="toggleActionMenu('new')">New Department</p>
          </div>
          <div class="btn more"></div>
        </div>
      </div>

      <!-- <TabBarComponent
        :isLoading="isLoadingDepartmentRoles"
        :data="departmentRoles"
        :query.sync="query"
        queryKey="role"
        labelKey="role"
        @onSearch="updateSearch"
        placeholder="Search by Email..."
      />-->

      <ListingComponent
        :isLoading="!$subReady.departments"
        :data="departments"
        :pageMeta="pageMeta"
        :query.sync="query"
        @toggleActionMenu="toggleActionMenu"
        :selected.sync="selected"
        :options="listingOptions"
        @deleteRecord="deleteDepartment"
      />
    </div>

    <div :class="`action-menu ${isActionMenuOpen ? 'active' :''}`">
      <div class="btn close" v-on:click="toggleActionMenu('')"></div>
      <div class="form">
        <p class="title">{{actionMenuTitle}}</p>
        <FormItemComponent label="Department Name" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedDepartment.name"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <FormItemComponent label="Department Code" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedDepartment.code"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <div v-if="isActionMenuOpen != 'read'" class="btn submit" v-on:click="submit()">Submit</div>
      </div>
    </div>
  </div>
</template>


<script>
import ListingComponent from "../../components/ListingComponent";
import TabBarComponent from "../../components/TabBarComponent";
import FormItemComponent from "../../components/FormItemComponent";
import MultiSelectComponent from "../../components/MultiSelectComponent";

import Departments from "../../../../imports/api/departments/departments";

const defaultValue = {
  _id: "",
  code: "",
  name: ""
};
export default {
  name: "DepartmentsDashboard",
  components: {
    ListingComponent,
    TabBarComponent,
    FormItemComponent,
    MultiSelectComponent
  },
  meteor: {
    $subscribe: {
      departments: []
    },
    departments: function() {
      const { limit, page, sortBy, order } = this.query;
      return Departments.find(
        {},
        { skip: (page - 1) * limit, limit, sort: { [sortBy]: order } }
      ).fetch();
    },
    totalDepartmentsCount: function() {
      return Departments.find({}).count();
    }
  },
  data: function() {
    return {
      selected: [],
      isActionMenuOpen: "",
      focusedDepartment: Object.assign({}, defaultValue),
      q: "",
      query: {
        order: 1,
        page: 1,
        limit: 10,
        sortBy: "code",
        role: 0
      },
      selectedTest: []
    };
  },
  computed: {
    pageMeta() {
      return {
        totalEntries: this.totalDepartmentsCount
      };
    },
    listingOptions() {
      return {
        hasSelect: true,
        actions: ["edit", "delete"],
        schema: [
          {
            label: "Department Code",
            key: "code",
            width: "15rem"
          },
          {
            label: "Department Name",
            key: "name"
          }
        ]
      };
    },
    actionMenuTitle() {
      return this.isActionMenuOpen == "new"
        ? "New Department"
        : this.isActionMenuOpen == "edit"
        ? "Edit Department"
        : this.isActionMenuOpen == "read"
        ? "Department Detail"
        : "";
    }
  },
  methods: {
    toggleActionMenu(menu, payload) {
      console.log("amenu ", menu, payload);
      this.isActionMenuOpen = menu;

      if (menu != "") {
        if (menu == "edit" || menu == "read") {
          this.focusedDepartment = { ...payload };
        } else if (menu == "new") {
          this.focusedDepartment = Object.assign({}, defaultValue);
        }
      }
    },
    updateSearch(q) {
      this.q = q;
    },
    async deleteDepartment(payload) {
      const confirmation = confirm(
        `Are you sure your want to delete department?\nDepartment: ${payload.email}`
      );

      if (confirmation) {
        const response = await this.$store.dispatch(
          "departmentsModule/deleteDepartment",
          {
            departmentId: payload._id
          }
        );
      }
    },
    async submit() {
      console.log("submit");
      if (this.isActionMenuOpen == "new") {
        const response = await this.$store.dispatch(
          "departmentsModule/createDepartment",
          {
            ...this.focusedDepartment
          }
        );

        if (response) {
          this.focusedDepartment = Object.assign({}, defaultValue);
          alert("Department successfully created!");
        }
      } else if (this.isActionMenuOpen == "edit") {
        const response = await this.$store.dispatch(
          "departmentsModule/updateDepartment",
          {
            departmentId: this.focusedDepartment._id,
            ...this.focusedDepartment
          }
        );

        if (response) {
          this.toggleActionMenu("new");
          alert("Department successfully updated!");
        }
      }
    }
  }
};
</script>
