<template>
  <div class="page log-in-page">
    <p class="title">Welcome to Dashboard</p>
    <p
      class="description"
    >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <div class="input-ctn">
      <div class="label">Username</div>
      <input type="text" class="input" v-model="username" placeholder="Username" />
    </div>
    <div class="input-ctn">
      <div class="label">Password</div>
      <input type="password" class="input" v-model="password" placeholder="Password" />
    </div>

    <div class="forgot-password" v-on:click="forgotPassword()">Forgot Password?</div>
    <div class="submit" v-on:click="logIn()">
      <div class="label">Log In</div>
      <div class="icon"></div>
    </div>
  </div>
</template>


<script>
import { TOKEN_LABEL } from "../../const";

export default {
  name: "LogInPage",
  data() {
    return {
      username: "",
      password: ""
    };
  },
  methods: {
    forgotPassword() {
      this.$router.push({ path: "/auth/forgot-password" });
    },
    async logIn() {
      const response = await this.$store.dispatch("usersModule/logIn", {
        username: this.username,
        password: this.password
      });

      if (response) {
        this.$router.push({ path: "/" });
      }
    }
  }
};
</script>
<style scoped>
</style>
