@import "../variables.scss";

.form-item-component {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;

  .label {
    line-height: 2rem;
  }

  .row {
    width: 100%;

    display: flex;
    flex-direction: row;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #aaa;

    input {
      width: 100%;
      height: 100%;

      font-size: 1rem;

      padding: 0 1rem;

      transition: 0.35s ease-in-out;
      flex-grow: 1;

      &:focus {
        border-color: $main-color;
      }
    }

    select {
      width: 100%;
      height: 100%;

      font-size: 1rem;
      padding: 0 1rem;

      flex-grow: 1;
    }

    .label {
      background-color: #eee;
      padding: 0 0.5rem;
      line-height: 3rem;

      &.end-label{
        border-left: 1px solid #aaa;
      }

      &.start-label{
        border-right: 1px solid #aaa;
      }
    }
  }
}
