@keyframes listingItem {
  0% {
    max-width: 40%;
  }

  50% {
    max-width: 80%;
  }

  100% {
    max-width: 40%;
  }
}


.listing-component {
  margin-bottom: 1rem;
  table.standard {
    width: 100%;
    border-collapse: collapse;

    tr {
      cursor: default;

      td,
      th {
        height: 3rem;
        line-height: 3rem;
        padding: 0 1rem;

        &.select {
          width: 2rem;

          .select-item {
            width: 1rem;
            height: 1rem;

            border: 1px solid #aaa;
            border-radius: 0.25rem;

            &.active {
              background-color: #888;
            }
          }
        }

        &.option {
          width: 2rem;

          .icon {
            width: 1rem;
            height: 2rem;

            background-color: #eee;
          }
        }
      }

      th {
        text-align: left;
        font-weight: normal;

        transition: 0.35s ease-in-out;

        &:hover{
          background-color: #eee;
        }

        &.sort {
          div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            p {
              position: relative;
              &::before {
                content: "";
                width: 1rem;
                height: 1rem;

                background-color: #eee;
                background-size: contain;
                background-repeat: no-repeat;

                position: absolute;
                right: -1.5rem;
                top: 1rem;
              }
            }
          }

          &.asc{
            div p::before{
              background-image: url("/icons/up.png");
            }
          }

          &.desc{
            div p::before{
              background-image: url("/icons/down.png");
            }
          }
        }
      }

      td {
        background-color: #f8f8f8;
        color: #444;
        position: relative;

        &::before {
          content: "";
          width: 100%;
          height: 1px;

          position: absolute;
          bottom: 0;
          left: 0;

          background-color: #aaa;
        }
      }

      td.has-image {
        display: flex;
        flex-direction: row;
        align-items: center;

        .image {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;

          background-color: #eee;

          margin-right: 1rem;
        }
      }

      td.option {
        position: relative;

        &:hover {
          .option-menu {
            opacity: 1;
          }
        }

        .option-menu {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          position: absolute;
          top: 0;
          right: 0;

          height: 3rem;

          background-color: #fff;
          border: 1px solid #ccc;
          box-shadow: 0 0 10px #ccc;

          padding: 0 1rem;
          opacity: 0;
          transition: 0.35s ease-in-out;
          z-index: 10;

          .btn {
            width: 2rem;
            height: 2rem;

            background-color: #eee;

            font-size: 0.8rem;
            transition: 0.35s ease-in-out;

            & + .btn {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;

    background-color: #eee;

    .group {
      display: flex;
      flex-direction: row;

      margin-right: 1rem;

      & > * + * {
        margin-left: 0.5rem;
      }

      .small {
        width: 4rem;
        text-align: center;

        padding: 0 0.5rem;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        opacity: 1;
      }
    }

    .btn {
      width: 2rem;
      height: 3rem;

      background-color: #eee;
      font-size: 0.7rem;
    }
  }

  tbody.loading {
    width: 100%;
    border-collapse: collapse;

    tr {
      cursor: default;

      td,
      th {
        height: 3rem;
        line-height: 3rem;
        padding: 0 1rem;

        &.select {
          width: 2rem;

          .select-item {
            width: 1rem;
            height: 1rem;

            border: 1px solid #aaa;
            border-radius: 0.25rem;
          }
        }

        &.option {
          width: 2rem;

          .icon {
            width: 1rem;
            height: 2rem;

            background-color: #eee;
          }
        }
      }

      th {
        text-align: left;
        font-weight: normal;
      }

      td {
        background-color: #f8f8f8;

        position: relative;

        &::after{
          content: "";
          width: 100%;
          height: 1px;

          position: absolute;
          bottom: 0;
          left: 0;

          background-color: #aaa;

        }

        &.item,
        .item {
          padding: 0 1rem;
          position: relative;

          &::before {
            content: "";
            width: 80%;
            height: 1rem;

            position: absolute;
            top: 1rem;
            left: 1rem;

            background-color: #eee;

            animation: listingItem 1.5s infinite;
          }
        }
      }

      td.has-image {
        display: flex;
        flex-direction: row;
        align-items: center;

        .image {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;

          background-color: #eee;

          margin-right: 1rem;
        }

        .item {
          width: calc(100% - 3rem);
          height: 100%;
        }
      }
    }
  }
}
