@import "../variables.scss";
$spinner-1-size: 3rem;
$spinner-2-size: 6rem;

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes label {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }

  100% {
    content: "Loading...";
  }
}

.loading-spinner-component {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .ctn {
    width: 12rem;
    height: 12rem;

    position: relative;

    .spinner {
      position: absolute;
      border-radius: 50%;
      border: 8px solid $main-color;

      &.s1 {
        width: $spinner-1-size;
        height: $spinner-1-size;

        top: calc(50% - (#{$spinner-1-size} / 2));
        left: calc(50% - (#{$spinner-1-size} / 2));
        border-color: transparent $main-color transparent $main-color;

        animation: loading 1s infinite linear;
      }

      &.s2 {
        width: $spinner-2-size;
        height: $spinner-2-size;

        top: calc(50% - (#{$spinner-2-size} / 2));
        left: calc(50% - (#{$spinner-2-size} / 2));
        border-color: $main-color transparent $main-color transparent;

        animation: loading 1.5s infinite linear reverse;
      }
    }

    .label::before {
      content: "Loading";
      width: 8rem;
      height: 2rem;
      text-align: center;

      line-height: 2rem;
      position: absolute;
      left: calc(50% - 4rem);
      bottom: 0;

      animation: label 1.5s infinite;
    }
  }
}
