@import "../variables.scss";

.multi-select-component {
  width: 100%;
  height: 3rem;

  cursor: pointer;

  .ctn {
    border: 1px solid #aaa;
    padding: 0 1rem;

    &.placeholder {
      line-height: 3rem;
      opacity: 0.5;
    }

    &.results {
      max-height: 3rem;
      min-height: 3rem;
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background-color: #fff;

      overflow: hidden;

      transition: 0.35s ease-in-out;
      z-index: 5;

      position: relative;
      overflow-x: auto;
      overflow-y: unset;

      &.expanded {
        max-height: unset;

        box-shadow: 0 0 5px #aaa;
      }

      .item {
        height: 2rem;
        line-height: 2rem;

        background-color: $main-color;
        color: #fff;

        padding: 0 0.5rem;
        padding-right: 2rem;

        margin-right: 0.5rem;

        position: relative;

        .close{
          width: 1rem;
          height: 1rem;

          background-color: red;
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
        }
      }
    }
  }

  .select {
    width: 100%;
    max-height: 0;

    background-color: #eee;

    overflow: hidden;
    transition: 0.35s ease-in-out;
    z-index: 5;
    position: relative;

    &.expanded {
      max-height: 12rem;
      box-shadow: 0 0 5px #aaa;
    }

    .item {
      padding: 0 1rem;

      line-height: 3rem;
      position: relative;

      &.selected {
        background-color: #fff;
      }

      .tick{
        width: 1.5rem;
        height: 1.5rem;

        background-color: #eee;
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
      }
    }
  }
}
