@import "../variables.scss";

.side-menu-component {
  display: flex;
  flex-direction: row;

  position: relative;

  z-index: 1000;
  color: #fff;

  &:hover {
    .shadow-ctn {
      max-width: calc(#{$side-menu-width} + #{$side-menu-label-width} + 15px);
      .ctn {
        max-width: calc(#{$side-menu-width} + #{$side-menu-label-width});
        .menu {
          .item {
            .label {
              max-width: $side-menu-label-width;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .shadow-ctn {
    max-width: calc(#{$side-menu-width} + 15px);
    width: calc(#{$side-menu-width} + #{$side-menu-label-width} + 15px);
    height: 100vh;

    position: absolute;
    left: 0;
    top: 0;

    .ctn {
      max-width: $side-menu-width;
      width: calc(#{$side-menu-width} + #{$side-menu-label-width});
      height: 100vh;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      padding: 1rem 0;

      box-shadow: 0 0 10px #666;
      background-color: $main-color;

      overflow: hidden;

      transition: 0.35s ease-in-out;

      .menu {
        .item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          position: relative;
          margin-bottom: 1rem;
          cursor: pointer;

          filter: brightness(60%);
          transition: 0.35s ease-in-out;

          &:hover {
            filter: brightness(100%);

            &::before {
              transform: translateX(0);
              opacity: 1;
            }
          }

          &::before {
            content: "";
            width: 0.5rem;
            height: 80%;
            background-color: #fff;

            position: absolute;
            left: 0;
            top: 10%;

            border-radius: 0 0.5rem 0.5rem 0;

            transform: translateX(-0.5rem);
            opacity: 0;

            transition: 0.35s ease-in-out;
          }

          &.title {
            filter: brightness(100%);
            margin-bottom: 2rem;

            &::before {
              content: unset;
            }
          }

          &.active {
            filter: brightness(100%);

            &::before {
              transform: translateX(0);
              opacity: 1;
            }
          }

          .icon {
            width: 2.5rem;
            height: 2.5rem;
            background-color: #eee;

            margin: 0 calc((#{$side-menu-width} - 2.5rem) / 2);
          }

          .label {
            max-width: 0;
            opacity: 0;

            width: $side-menu-label-width;
            line-height: 2.5rem;
            height: 2.5rem;

            overflow: hidden;

            transition: 0.35s ease-in-out;
          }
        }
      }
    }
  }
}
