@import "../variables.scss";

@keyframes tabBarItem {
  0% {
    max-width: 30%;
  }

  50% {
    max-width: 100%;
  }

  100% {
    max-width: 30%;
  }
}

.tab-bar-component {
  width: 100%;
  height: 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  line-height: 3rem;
  margin-bottom: 2rem;

  .ctn {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .group {
      display: flex;
      flex-direction: row;

      &.left {
        position: relative;

        padding-right: 1rem;
        &::before {
          content: "";
          width: 100%;
          height: 2px;

          position: absolute;
          bottom: 0;
          left: 0;

          opacity: 0.1;

          background-color: #888;
        }

        .item {
          padding: 0 1rem;

          position: relative;
          transition: 0.35s;
          cursor: pointer;

          & + .item {
            margin-left: 0.5rem;
          }

          &:hover {
            // background-color: #eee;

            &::before {
              max-width: 100%;
            }
          }

          &::before {
            content: "";
            width: 100%;
            max-width: 0;
            height: 4px;

            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.35s;

            background-color: $main-color;
          }

          &.active {
            &::before {
              max-width: 100%;
            }
          }
        }
      }

      &.right {
        .input {
          width: 10rem;
          height: 3rem;

          font-size: 1rem;

          border: 1px solid #aaa;
          padding: 0 1rem;

          transition: 0.35s ease-in-out;

          &:focus {
            border-color: $main-color;
          }
        }

        .btn {
          width: 3rem;
          height: 3rem;

          background-color: #eee;

          font-size: 0.7rem;
        }
      }
    }

    .loading {
      display: flex;
      flex-direction: row;

      height: 100%;

      .item {
        width: 6rem;
        height: 100%;

        padding: 0 1rem;

        position: relative;

        & + .item {
          margin-left: 0.5rem;
        }

        &::before {
          content: "";
          width: 100%;
          height: 1rem;

          position: absolute;
          top: 1rem;
          left: 0;

          background-color: #eee;
          animation: tabBarItem 1.5s ease-in-out infinite;
        }
      }

      &::before {
        content: "";
        width: 100%;
        height: 2px;

        position: absolute;
        bottom: 0;
        left: 0;

        opacity: 0.1;

        background-color: #888;
      }
    }
  }
}
