.top-bar-component {
  background-color: #fff;
  border-bottom: 1px solid #ccc;

  z-index: 500;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 1rem;

  .navigation {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .element {
      display: flex;
      flex-direction: row;
      align-items: center;

      filter: brightness(200%);
      transition: 0.35s ease-in-out;

      + .element {
        margin-left: 0.5rem;
      }

      &:hover {
        filter: brightness(100%);
      }

      .title {
        margin-right: 0.25rem;
        cursor: pointer;

        transition: 0.35s ease-in-out;

        color: #333;
      }

      .icon {
        width: 1rem;
        height: 1rem;

        background-size: contain;
        background-position: center;
      }
    }
  }

  .menu {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      width: 2rem;
      height: 2rem;

      border-radius: 50%;

      background-color: #aaa;

      + .icon {
        margin-left: 0.5rem;
      }
    }
  }
}
