<template>
  <div class="page dashboard invitations-dashboard">
    <div class="content">
      <div v-if="isActionMenuOpen" class="action-menu-backdrop" v-on:click="toggleActionMenu('')"></div>

      <div class="title-bar">
        <p class="title">Invitation Management</p>
        <div class="group">
          <div class="btn new">
            <div class="icon"></div>
            <p class="label" v-on:click="toggleActionMenu('new')">New Invitation</p>
          </div>
          <div class="btn more"></div>
        </div>
      </div>

      <!-- <TabBarComponent
        :isLoading="isLoadingInvitationRoles"
        :data="invitationRoles"
        :query.sync="query"
        queryKey="role"
        labelKey="role"
        @onSearch="updateSearch"
        placeholder="Search by Email..."
      />-->

      <ListingComponent
        :isLoading="!$subReady.invitations"
        :data="invitations"
        :pageMeta="pageMeta"
        :query.sync="query"
        @toggleActionMenu="toggleActionMenu"
        :selected.sync="selected"
        :options="listingOptions"
        @deleteRecord="deleteInvitation"
      />
    </div>

    <div :class="`action-menu ${isActionMenuOpen ? 'active' :''}`">
      <div class="btn close" v-on:click="toggleActionMenu('')"></div>
      <div class="form">
        <p class="title">{{actionMenuTitle}}</p>
        <FormItemComponent label="Guest Name" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedInvitation.guestName"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <FormItemComponent label="Relationship" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedInvitation.relationship"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <FormItemComponent label="Gender" :state="isActionMenuOpen">
          <select v-model="focusedInvitation.gender" slot-scope="slot" :disabled="slot.readOnly">
            <option value="0" disabled>Please select a gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </FormItemComponent>
        <FormItemComponent label="Student" :state="isActionMenuOpen">
          <select
            v-model="focusedInvitation.studentId"
            v-if="$subReady.students"
            slot-scope="slot"
            :disabled="slot.readOnly"
          >
            <option value="0" disabled>Please select a student</option>
            <option
              v-for="student in students"
              v-bind:key="student._id"
              :value="student._id"
            >{{`${student.department().code} - ${student.fullName}`}}</option>
          </select>
        </FormItemComponent>
        <div v-if="isActionMenuOpen != 'read'" class="btn submit" v-on:click="submit()">Submit</div>
      </div>
    </div>
  </div>
</template>


<script>
import ListingComponent from "../../components/ListingComponent";
import TabBarComponent from "../../components/TabBarComponent";
import FormItemComponent from "../../components/FormItemComponent";
import MultiSelectComponent from "../../components/MultiSelectComponent";

import Invitations from "../../../../imports/api/invitations/invitations";
import Students from "../../../../imports/api/students/students";

const defaultValue = {
  _id: "",
  studentId: "0",
  guestName: "",
  relationship: "",
  gender: "0"
};
export default {
  name: "InvitationsDashboard",
  components: {
    ListingComponent,
    TabBarComponent,
    FormItemComponent,
    MultiSelectComponent
  },
  meteor: {
    $subscribe: {
      invitations: [],
      students: []
    },
    invitations: function() {
      const { limit, page, sortBy, order } = this.query;
      return Invitations.find(
        {},
        { skip: (page - 1) * limit, limit, sort: { [sortBy]: order } }
      ).fetch();
    },
    totalInvitationsCount: function() {
      return Invitations.find({}).count();
    },
    students: function() {
      return Students.find({}).fetch();
    }
  },
  data: function() {
    return {
      selected: [],
      isActionMenuOpen: "new",
      focusedInvitation: Object.assign({}, defaultValue),
      q: "",
      query: {
        order: 1,
        page: 1,
        limit: 10,
        sortBy: "guestName",
        role: 0
      },
      selectedTest: []
    };
  },
  computed: {
    pageMeta() {
      return {
        totalEntries: this.totalInvitationsCount
      };
    },
    listingOptions() {
      return {
        hasSelect: true,
        actions: ["edit", "delete"],
        schema: [
          {
            label: "Guest Name",
            key: "guestName",
            width: "15rem"
          },
          {
            label: "Gender",
            key: "gender"
          },
          {
            label: "Student",
            key: "student",
            value:  (record) => record.student().fullName
          }
        ]
      };
    },
    actionMenuTitle() {
      return this.isActionMenuOpen == "new"
        ? "New Invitation"
        : this.isActionMenuOpen == "edit"
        ? "Edit Invitation"
        : this.isActionMenuOpen == "read"
        ? "Invitation Detail"
        : "";
    }
  },
  methods: {
    toggleActionMenu(menu, payload) {
      console.log("amenu ", menu, payload);
      this.isActionMenuOpen = menu;

      if (menu != "") {
        if (menu == "edit" || menu == "read") {
          this.focusedInvitation = { ...payload };
        } else if (menu == "new") {
          this.focusedInvitation = Object.assign({}, defaultValue);
        }
      }
    },
    updateSearch(q) {
      this.q = q;
    },
    async deleteInvitation(payload) {
      const confirmation = confirm(
        `Are you sure your want to delete invitation?\nInvitation: ${payload.email}`
      );

      if (confirmation) {
        const response = await this.$store.dispatch(
          "invitationsModule/deleteInvitation",
          {
            invitationId: payload._id
          }
        );
      }
    },
    async submit() {
      console.log("submit");
      if (this.isActionMenuOpen == "new") {
        const response = await this.$store.dispatch(
          "invitationsModule/createInvitation",
          {
            ...this.focusedInvitation
          }
        );

        if (response) {
          this.focusedInvitation = Object.assign({}, defaultValue);
          alert("Invitation successfully created!");
        }
      } else if (this.isActionMenuOpen == "edit") {
        const response = await this.$store.dispatch(
          "invitationsModule/updateInvitation",
          {
            invitationId: this.focusedInvitation._id,
            ...this.focusedInvitation
          }
        );

        if (response) {
          this.toggleActionMenu("new");
          alert("Invitation successfully updated!");
        }
      }
    }
  }
};
</script>
