// @font-face {
//   font-family: Futura;
//   src: url('/FuturaBook.ttf');
// }

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;700&display=swap');

*{
  font-family: "Changa", sans-serif;
}
