<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import { TOKEN_LABEL } from "./const";

export default {
  name: "App",
  meteor: {
    currentUser() {
      return Meteor.user();
    }
  },
  created() {
    this.authCheck();
  },
  watch: {
    currentUser() {
      this.authCheck();
    }
  },
  methods: {
    async authCheck() {
      const user = await Meteor.userId();

      if (!user) {
        this.$router.push({ path: "/auth" });
      }
    }
  }
};
</script>

