<template>
  <div class="listing-component">
    <table class="standard">
      <tr>
        <th v-if="options.hasSelect" class="select" v-on:click="toggleSelectAll()">
          <div :class="`select-item ${isSelectAll ? 'active' : ''}`"></div>
        </th>
        <th
          v-for="(column, index) in options.schema"
          v-bind:key="index"
          :class="`
          ${column.disableSort ? '' : 'sort'} ${query.sortBy == column.key && query.order == 1 ? 'asc' : '' } ${query.sortBy == column.key && query.order == -1 ? 'desc' : '' }`"
          v-on:click="toggleSort(column)"
        >
          <div class="ctn">
            <p class="label">{{column.label}}</p>
          </div>
        </th>
        <th v-if="options.options" class="option"></th>
      </tr>
      <tbody v-if="!isLoading">
        <tr v-bind:key="record.id" v-for="record in data">
          <td v-if="options.hasSelect" class="select" v-on:click="toggleSelect(record.id)">
            <div :class="`select-item ${selected.indexOf(record.id) != -1 ? 'active' : ''}`"></div>
          </td>
          <td
            v-for="(column, index) in options.schema"
            v-bind:key="index"
            :style="{'width' : `${column.width ? column.width : ''}`}"
            :class="`${column.hasImage ? 'has-image' : ''}`"
            v-on:click="$emit('toggleActionMenu', 'read', record)"
          >
            <div
              v-if="column.hasImage"
              class="image"
              :style="{'background-image' : `url(${column.imageUrl(record)})`}"
            ></div>
            <p class="value">{{column.value ? column.value(record) : record[column.key] }}</p>
          </td>
          <td v-if="options.actions" class="option">
            <div class="icon"></div>
            <div class="option-menu wide">
              <div
                v-if="options.actions.indexOf('view') == -1 ? false : true"
                class="btn view"
                v-on:click="$emit('viewDetail', record)"
              >View</div>
              <div
                v-if="options.actions.indexOf('edit') == -1 ? false : true"
                class="btn edit"
                v-on:click="$emit('toggleActionMenu', 'edit', record)"
              >Edit</div>
              <div
                v-if="options.actions.indexOf('delete') == -1 ? false : true"
                class="btn delete"
                v-on:click="$emit('deleteRecord', record)"
              >Delete</div>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody class="loading" v-else>
        <tr v-bind:key="item" v-for="item in new Array(query.limit)"></tr>
        <tr v-bind:key="record.id" v-for="record in data">
          <td v-if="options.hasSelect" class="select">
            <div class="select-item"></div>
          </td>
          <td
            v-for="(column, index) in options.schema"
            v-bind:key="index"
            :style="{'width' : `${column.width ? column.width : ''}`}"
            class="item"
          >
            <div
              v-if="column.hasImage"
              class="image"
              :style="{'background-image' : `url(${column.imageUrl(record)})`}"
            ></div>
          </td>
          <td v-if="options.actions" class="option">
            <div class="icon"></div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <div class="group">
        <div class="label">Page:</div>
        <input type="number" class="input small" v-model="query.page" placeholder="1" />
      </div>
      <div
        class="info"
      >Showing: {{`${((query.page - 1)*query.limit) + 1} - ${((query.page - 1)*query.limit) + data.length} of ${pageMeta ? pageMeta.totalEntries : '--'}`}}</div>
    </div>
  </div>
</template>


<script>
export default {
  name: "Listing-Component",
  computed: {
    isSelectAll() {
      return (
        this.data &&
        this.selected.length != 0 &&
        JSON.stringify(this.data.map(u => u.id).sort()) ===
          JSON.stringify(this.selected.sort())
      );
    }
  },
  props: {
    isLoading: {
      type: Boolean,
      required: true,
      default: false
    },
    data: {
      type: Array,
      required: true,
      default: () => []
    },
    selected: {
      type: Array,
      required: true,
      default: () => []
    },
    options: {
      type: Object,
      default: {}
    },
    query: {
      type: Object,
      required: true
    },
    sortKeys: {
      type: Array,
      required: false,
      default: () => ["ASC", "DESC"]
    },
    pageMeta: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  methods: {
    toggleSelect(itemId) {
      const index = this.selected.indexOf(itemId);
      if (index == -1) {
        this.selected.push(itemId);
      } else {
        this.selected.splice(index, 1);
      }
    },
    toggleSelectAll() {
      if (this.isSelectAll) {
        this.selected = [];
      } else {
        this.selected = this.data.map(u => u.id);
      }
    },
    toggleSort(column) {
      console.log(column.disableSort)
      if(column.disableSort) {
        return
      }

      if (this.query.sortBy == column.key) {
        if (this.query.order == 1) {
          this.query.order = -1;
        } else {
          this.query.order = 1;
        }
      } else {
        this.query.sortBy = column.key;
      }
    }
  }
};
</script>
<style scoped>
</style>
