<template>
  <div class="loading-spinner-component">
    <div class="ctn">
      <div class="spinner s1"></div>
      <div class="spinner s2"></div>
      <p class="label"></p>
    </div>
  </div>
</template>


<script>
export default {
  name: "LoadingSpinnerComponent"
};
</script>
<style scoped>
</style>
