<template>
  <div class="multi-select-component">
    <div
      v-if="selected.length == 0"
      class="ctn placeholder"
      v-on:click="toggle"
    >{{!isFocused ? placeholder : 'Please select below'}}</div>
    <div
      v-if="selected.length > 0"
      :class="`ctn results ${isFocused ? 'expanded': ''}`"
      v-on:click="toggle"
    >
      <div class="item" v-for="(item, index) in selected" :key="index">
        {{data.filter(e => e[valueKey] == item)[0][labelKey]}}
        <div class="btn close" v-on:click="removeItem(item)"></div>
      </div>
    </div>
    <div :class="`select ${isFocused ? 'expanded': ''}`">
      <div
        :class="`item ${selected.indexOf(item[valueKey]) != -1 ? 'selected' : ''}`"
        v-for="item in data"
        :key="item[valueKey]"
        v-on:click="toggleItem(item)"
      >
        {{item[labelKey]}}
        <div class="tick"></div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "MultiSelectComponent",
  data: function() {
    return {
      isFocused: false
    };
  },
  props: {
    placeholder: {
      type: String,
      required: true,
      default: "Placeholder"
    },
    selected: {
      type: Array,
      required: true,
      default: () => []
    },
    data: {
      type: Array,
      required: true,
      default: () => []
    },
    valueKey: {
      type: String,
      required: true,
      default: "valueKeyMissing"
    },
    labelKey: {
      type: String,
      required: true,
      default: "labelKeyMissing"
    }
  },
  methods: {
    toggle() {
      this.isFocused = !this.isFocused;
    },
    toggleItem(item) {
      console.log("runs");
      const index = this.selected.indexOf(item[this.valueKey]);
      console.log(index);
      if (index != -1) {
        console.log("run");
        this.selected.splice(index, 1);
      } else {
        console.log("runned");
        this.selected.push(item[this.valueKey]);
      }
    },
    removeItem(item) {
      console.log(item);
      this.selected.splice(this.selected.indexOf(item), 1);
    }
  }
};
</script>
<style scoped>
</style>
