<template>
  <div class="side-menu-component">
    <div class="shadow-ctn">
      <div class="ctn">
        <div class="menu">
          <div class="item title">
            <div class="icon"></div>
            <div class="label">ParagonIU Commencement</div>
          </div>
          <div
            :class="`item ${tabName == 'dashboard' ? 'active' : ''}`"
            v-on:click="goToRoute('/')"
          >
            <div class="icon"></div>
            <div class="label">Dashboard</div>
          </div>
          <div
            :class="`item ${tabName == 'departments' ? 'active' : ''}`"
            v-on:click="goToRoute('/departments')"
          >
            <div class="icon"></div>
            <div class="label">Departments</div>
          </div>
          <div
            :class="`item ${tabName == 'students' ? 'active' : ''}`"
            v-on:click="goToRoute('/students')"
          >
            <div class="icon"></div>
            <div class="label">Students</div>
          </div>
          <div
            :class="`item ${tabName == 'invitations' ? 'active' : ''}`"
            v-on:click="goToRoute('/invitations')"
          >
            <div class="icon"></div>
            <div class="label">Invitations</div>
          </div>
          <div
            :class="`item ${tabName == 'users' ? 'active' : ''}`"
            v-on:click="goToRoute('/users')"
          >
            <div class="icon"></div>
            <div class="label">Users</div>
          </div>
          <div
            :class="`item ${tabName == 'profile' ? 'active' : ''}`"
            v-on:click="goToRoute('/profile')"
          >
            <div class="icon"></div>
            <div class="label">Profile</div>
          </div>
          <div class="item" v-on:click="logOut('/profile')">
            <div class="icon"></div>
            <div class="label">Log Out</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "SideMenuComponent",
  computed: {
    tabName() {
      return this.$route.meta.tabName;
    }
  },
  methods: {
    goToRoute(route) {
      this.$router.push({ path: route });
    },
    logOut() {
      const response = this.$store.dispatch("usersModule/logOut");

      if (response) {
        this.$router.push({ path: "/auth" });
      }
    }
  }
};
</script>
<style scoped>
</style>
