<template>
  <div class="tab-bar-component">
    <div v-if="!isLoading" class="ctn">
      <div class="group left">
        <div :class="`item ${query[queryKey] == 0 ? 'active' : ''}`" v-on:click="updateTab(0)">All</div>
        <div
          :class="`item ${query[queryKey] == item._id ? 'active' : ''}`"
          v-for="item in data"
          v-bind:key="item[labelKey]"
          v-on:click="updateTab(item._id)"
        >{{item[labelKey]}}</div>
      </div>
      <div class="group right">
        <div class="item input-ctn">
          <input
            type="text"
            class="input"
            v-model="localQ"
            :placeholder="placeholder"
            v-on:keyup.enter="$emit('onSearch', localQ)"
          />
        </div>
        <div class="btn search" v-on:click="$emit('onSearch', localQ)">search</div>
      </div>
    </div>
    <div v-else class="ctn">
      <div class="loading">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "TabBarComponent",
  props: {
    isLoading: {
      type: Boolean,
      required: true,
      default: false
    },
    data: {
      type: Array,
      required: true,
      default: () => []
    },
    T: {
      type: String,
      default: "id"
    },
    query: {
      type: Object,
      required: true,
      default: {}
    },
    queryKey: {
      type: String,
      required: true,
      default: "queryKeyMissing"
    },
    labelKey: {
      type: String,
      required: true,
      default: "labelKeyMissing"
    },
    placeholder: {
      type: String,
      required: false,
      default: "Placeholder"
    }
  },
  data: function() {
    return {
      localQ: ""
    };
  },
  methods: {
    updateTab(tabCode) {
      this.query[this.queryKey] = tabCode;
    }
  }
};
</script>
<style scoped>
</style>
