<template>
  <div class="top-bar-component">
    <div class="navigation">
      <div
        class="element"
        v-for="topBarRoute in topBarRoutes"
        v-bind:key="topBarRoute.title"
        v-on:click="goToRoute(topBarRoute.route)"
      >
        <div class="title">{{topBarRoute.title}}</div>
        <div class="icon" :style="{'background-image': 'url(/images/Forward.png)'}"></div>
      </div>
    </div>
    <div class="menu">
      <div class="icon notification"></div>
      <div class="icon profile"></div>
    </div>
  </div>
</template>


<script>
export default {
  name: "TopBarComponent",
  computed: {
    topBarRoutes() {
      return this.$store.state.mainLayoutModule.topBarRoutes;
    }
  },
  methods: {
    goToRoute(route) {
      this.$router.push({ path: route });
    }
  }
};
</script>
<style scoped>
</style>
