<template>
  <div class="page dashboard users-dashboard">
    <div class="content">
      <div v-if="isActionMenuOpen" class="action-menu-backdrop" v-on:click="toggleActionMenu('')"></div>

      <div class="title-bar">
        <p class="title">User Management</p>
        <div class="group">
          <div class="btn new">
            <div class="icon"></div>
            <p class="label" v-on:click="toggleActionMenu('new')">New User</p>
          </div>
          <div class="btn more"></div>
        </div>
      </div>

      <TabBarComponent
        :isLoading="isLoadingUserRoles"
        :data="userRoles"
        :query.sync="query"
        queryKey="role"
        labelKey="role"
        @onSearch="updateSearch"
        placeholder="Search by Email..."
      />

      <ListingComponent
        :isLoading="isLoadingUsersListing"
        :data="usersListing"
        data-key="users"
        :query.sync="query"
        @toggleActionMenu="toggleActionMenu"
        :selected.sync="selected"
        :options="listingOptions"
        @deleteRecord="deleteUser"
      />
    </div>

    <div :class="`action-menu ${isActionMenuOpen ? 'active' :''}`">
      <div class="btn close" v-on:click="toggleActionMenu('')"></div>
      <div class="form">
        <p class="title">{{actionMenuTitle}}</p>
        <FormItemComponent label="Email" :state="isActionMenuOpen">
          <input
            type="text"
            v-model="focusedUser.email"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <FormItemComponent label="Password" :state="isActionMenuOpen" :edit="false" :read="false">
          <input
            type="password"
            v-model="focusedUser.password"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
          />
        </FormItemComponent>
        <FormItemComponent label="New Role" :state="isActionMenuOpen" :edit="false">
          <select
            v-if="!isLoadingUserRoles"
            slot-scope="slot"
            :disabled="slot.readOnly"
            v-model="focusedUser.roleId"
          >
            <option value="0" disabled>No Role Selected</option>
            <option
              :value="userRole.id"
              v-for="userRole in userRoles"
              v-bind:key="userRole.id"
            >{{userRole.role}}</option>
          </select>
          <select v-else v-model="focusedUser.roleId">
            <option value="0" disabled>Loading...</option>
          </select>
        </FormItemComponent>
        <FormItemComponent label="Roles" :state="isActionMenuOpen" :edit="false" :read="false">
          <MultiSelectComponent
            :selected.sync="selectedTest"
            slot-scope="slot"
            :disabled="slot.readOnly"
            :placeholder="slot.label"
            :data="userRoles"
            valueKey="id"
            labelKey="role"
          />
        </FormItemComponent>
        <div
          v-if="isActionMenuOpen != 'read'"
          class="btn submit"
          v-on:click="!isSubmittingUser ? submit(): ''"
        >{{!isSubmittingUser ? 'Submit' : 'Loading...'}}</div>
      </div>
    </div>
  </div>
</template>


<script>
import ListingComponent from "../../components/ListingComponent";
import TabBarComponent from "../../components/TabBarComponent";
import FormItemComponent from "../../components/FormItemComponent";
import MultiSelectComponent from "../../components/MultiSelectComponent";

export default {
  name: "UsersDashboard",
  components: {
    ListingComponent,
    TabBarComponent,
    FormItemComponent,
    MultiSelectComponent
  },
  data: function() {
    return {
      selected: [],
      isActionMenuOpen: "new",
      focusedUser: {
        id: "",
        email: "",
        password: "",
        roleId: 0
      },
      q: "",
      query: {
        order: "ASC",
        page: 1,
        limit: 10,
        sortBy: "email",
        role: 0
      },
      selectedTest: []
    };
  },
  created() {
    this.getUserRoles();
    this.getUsers();
  },
  computed: {
    listingOptions() {
      return {
        hasSelect: true,
        actions: ["edit", "delete"],
        queryOptions: {
          sortBy: [
            {
              label: "Email",
              value: "email"
            },
            {
              label: "Role",
              value: "role"
            }
          ],
          sortDirection: [
            {
              label: "Ascending",
              value: "ASC"
            },
            {
              label: "Descending",
              value: "DESC"
            }
          ]
        },
        schema: [
          {
            label: "Email",
            key: "email",
            hasImage: true,
            imageUrl: record => "temp"
          },
          {
            label: "Role",
            key: "role",
            value: record => record.role.role
          },
          {
            label: "Google",
            value: record => "--",
            width: "6rem"
          }
        ]
      };
    },
    userRoles() {
      return this.$store.state.usersModule.userRoles;
    },
    isLoadingUserRoles() {
      return this.$store.state.usersModule.isLoadingUserRoles;
    },
    usersListing() {
      return this.$store.state.usersModule.usersListing;
    },
    isLoadingUsersListing() {
      return this.$store.state.usersModule.isLoadingUsersListing;
    },
    isSubmittingUser() {
      return this.$store.state.usersModule.isSubmittingUser;
    },
    actionMenuTitle() {
      return this.isActionMenuOpen == "new"
        ? "New User"
        : this.isActionMenuOpen == "edit"
        ? "Edit User"
        : this.isActionMenuOpen == "read"
        ? "User Detail"
        : "";
    }
  },
  watch: {
    query: {
      deep: true,
      handler: function() {
        if (this.query.page >= 1) {
          this.getUsers();
        }
      }
    }
  },
  methods: {
    async getUserRoles() {
      const response = await this.$store.dispatch("usersModule/getUserRoles");
    },
    async getUsers() {
      const response = await this.$store.dispatch("usersModule/getUsers", {
        query: { ...this.query, q: this.q }
      });
    },
    toggleActionMenu(menu, payload) {
      console.log("amenu ", menu, payload);
      this.isActionMenuOpen = menu;

      if (menu != "") {
        if (menu == "edit" || menu == "read") {
          this.focusedUser = {
            id: payload.id,
            email: payload.email,
            roleId: payload.role.id
          };
        } else if (menu == "new") {
          this.focusedUser = {
            id: "",
            email: "",
            password: "",
            roleId: 0
          };
        }
      }
    },
    updateSearch(q) {
      this.q = q;
      this.getUsers();
    },
    async deleteUser(payload) {
      const confirmation = confirm(
        `Are you sure your want to delete user?\nUser: ${payload.email}`
      );

      if (confirmation) {
        const response = await this.$store.dispatch("usersModule/deleteUser", {
          id: payload.id
        });

        if (response) {
          this.getUsers();
        }
      }
    },
    async submit() {
      console.log("submit");
      if (this.isActionMenuOpen == "new") {
        const response = await this.$store.dispatch("usersModule/createUser", {
          ...this.focusedUser
        });

        if (response) {
          this.getUsers();
          this.focusedUser = {
            email: "",
            password: "",
            roleId: 0
          };
          alert("User successfully created!");
        }
      } else if (this.isActionMenuOpen == "edit") {
        const response = await this.$store.dispatch("usersModule/updateUser", {
          ...this.focusedUser
        });

        if (response) {
          this.getUsers();
          this.toggleActionMenu("new");
          alert("User successfully updated!");
        }
      }
    }
  }
};
</script>
<style scoped>
</style>
