// Fonts
@import "../fonts/font.scss";

// Layouts
@import "./layouts/main-layout.scss";
@import "./layouts/auth-layout.scss";

// Components
@import "./components/side-menu-component.scss";
@import "./components/top-bar-component.scss";
@import "./components/listing-component.scss";
@import "./components/tab-bar-component.scss";
@import "./components/form-item-component.scss";
@import "./components/loading-spinner-component.scss";
@import "./components/multi-select-component.scss";

// Pages
@import "./pages/auth-pages.scss";
@import "./pages/main-pages.scss";
@import "./pages/dashboard/dashboard-pages.scss";
@import "./pages/dashboard/students/student-detail-dashboard.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.8rem;
  color: #000;
  background-color: #fff;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  position: relative;
  z-index: 0;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }

  #app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.input {
  appearance: none;
  outline: none;
  border: none;
}

.btn {
  cursor: pointer;
  transition: 0.35s ease-in-out;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: 0 !important;
    outline: none !important;
  }

  &:hover {
    filter: brightness(150%);
  }
}

a {
  color: unset;
  text-decoration: none;
}

pre {
  background-color: unset !important;
  padding: 0 !important;
}

input,select{
  border: unset;
}
