$side-menu-width: 5rem;
$side-menu-label-width: 15rem;

$top-bar-height: 3rem;
$action-menu-width: 40vw;

$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;

$main-color: #232323;
